<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartdiettrack">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartDietTrack"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ConfirmFoodActivity"
            android:exported="false" />
        <activity
            android:name=".InputTextActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="SmartDietTrack"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>


        <activity
            android:name=".CaptureActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BiometricInputActivity"
            android:exported="true" />
        <activity
            android:name=".SettingsActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:parentActivityName=".LoginActivity" />

        <meta-data
            android:name="nutritionxID"
            android:value="${NutritionxID}" />
        <meta-data
            android:name="nutritionxKey"
            android:value="${NutritionxKey}" />
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
    </application>

</manifest>